# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Secrets and environment variables
.env

# Large raw files
raw_data/
large_data/